<!DOCTYPE html>
<html ng-app="app">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Big5" />
<title> JOOW </title>
</head>

<script src= "http://localhost:8080/web/js/angular.min.js"></script>
<script src= "http://localhost:8080/web/js/init.js"></script>  
  
<body>

<div ng-controller="user_registry">
<h3>Registry</h3>
<form novalidate name="Registration" method="post" action="">
<label class="control-label">Name</label>
<input type="text" ng-model="user.nickname" class="form-control"/>
<br/>
<label class="control-label">Email</label>
<input type="text" ng-model="user.email" class="form-control"/>
<br/>
<label class="control-label">Password</label>
<input type="password" ng-model="user.passwd" class="form-control"/>
<br/>
<button class="btn btn-primary" ng-disabled="Registration.$invalid || isUnchanged(user)" ng-click="adduser(user)">Registry</button>
</form>
</div>

<a href="http://localhost:8080">Home</a>

</body>

</html>
