<!DOCTYPE html>
<html ng-app="app">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Big5" />
<title> JOOW </title>
</head>

<script src= "http://localhost:8080/web/plugin/angular.min.js"></script>
<script src= "http://localhost:8080/web/init.js"></script> 

 <script type="text/javascript">

function user_signin($scope, $http) {
    $scope.adduser = function(user) {
		user.createDate = new Date().toString();    
        $http({method: 'POST', url: 'http://localhost:8080/api/account', data: user, headers: {'Content-Type': 'application/json'}}).success(function(gdata){
            localStorage.id = gdata['userid'];
            localStorage.name = user.nickname;
            localStorage.email = user.email;
			alert("welcome "+localStorage.name);
        }).error(function (gdata) {
            alert( JSON.stringify(gdata) );
        });
    };
};

</script>
  
<body>

<div ng-controller="user_signin">
<h3>Registry</h3>
<form novalidate name="Registration" method="post" action="">
<label class="control-label">Name</label>
<input type="text" ng-model="user.nickname" class="form-control"/>
<br/>
<label class="control-label">Email</label>
<input type="text" ng-model="user.email" class="form-control"/>
<br/>
<label class="control-label">Password</label>
<input type="password" ng-model="user.passwd" class="form-control"/>
<br/>
<button class="btn btn-primary" ng-disabled="Registration.$invalid || isUnchanged(user)" ng-click="adduser(user)">Registry</button>
</form>
</div>

<a href="http://localhost:8080">Home</a>

</body>

</html>
